.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body .p-treetable .p-treetable-tbody > tr > td {
  padding: 0 0 !important
}

body .p-inputtext {
  font-size: 12px !important
}

body .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2em #b7d7f1;
  border-color: #0e0e0e;
}

body .p-treetable .p-sortable-column:nth-of-type(1)
{
  width: 45vw;
}
body .p-treetable .p-treetable-tbody > tr:focus + tr > td {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .p-treetable .p-treetable-tbody > tr:focus > td {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .p-treetable .p-sortable-column.p-highlight {
  background-color: #f4f4f4 !important;
  color: #101010 !important;
}
body .p-treetable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #0c0c0c !important;
}
body .p-treetable .p-sortable-column:focus {
  box-shadow: none !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
